
.navbar {
  background-color: var(--nav-background) !important;
}

.navbar-light .navbar-toggler {
  border-color: white !important;
  border-width: 3px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
  box-shadow:0 0 0 0 !important;
}

.section-right {
  display: none;
}

.section-left {
  background-color: #008dd2;
  color:white;
}

.btn-filters {
  background-color: #e5097f;
}

.resource-container {
  cursor: pointer;
}

.resource-container.first-resource {
  background-color: #e5097f;
}
